<div>
  <div>
    <h1>
      <%= @the_board.name %> 
    </h1>
  </div>
</div>

<hr>

<h2>Add a new post</h2>

<form action="/insert_post" method="post">
  <div>
    <label for="title">Title</label>
    <input type="text" name="query_title" id="title">
  </div>

  <div>
    <label for=body"">Body</label>
    <textarea name="query_body" id="body" cols="20" rows="3"></textarea>
  </div>

  <div>
    <label for="date">Expires on</label>
    <input type="date" name="query_expires_on" id="date">
  </div>

  <input type="hidden" name="query_board_id" id="board_id" value="<%= @the_board.id %>">

  <button>Add post</button>
</form>

<hr>

<h2>Active posts</h2>

<% matching_posts = Post.where({ :board_id => @the_board.id }).order({ :expires_on => :asc }) %>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

  <% matching_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>
